body {
  margin: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.navbar-logo {
  width: 10%;
}

.container {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
}

ul {
  list-style-type: none;
}

li {
  overflow: hidden;
  margin: 0 0 20px;
  border-bottom: 1px solid #ccc;
  padding: 0 0 20px;
}
li:last-child {
  margin: 0;
}

img {
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

span {
  display: block;
  width: 100%;
  font-weight: bolder;

}

.followers {
  font-weight: normal;
  font-style: italic;
  color: #999;
}  


